name: run-tests

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest]
        php: [8.3, 8.4, 8.5]

    name: P${{ matrix.php }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl, mbstring, zip
          coverage: none

      - name: Install phpkg
        run: bash -c "$(curl -fsSL https://raw.githubusercontent.com/php-repos/phpkg-installation/master/install.sh)"

      - name: Set Credentials
        run: ~/.phpkg/phpkg credential github.com ${{ secrets.GITHUB_TOKEN }}

      - name: Install
        run: ~/.phpkg/phpkg install

      - name: Build
        run: ~/.phpkg/phpkg build production

      - name: Execute tests
        id: execute-tests
        run: |
          cd builds/production
          php run
        continue-on-error: true

      - name: Check test result
        if: always()
        run: |
          if [ ${{ steps.execute-tests.outcome }} -ne 2 ]; then
            echo "Test run did not exit with code 2."
            exit 1
          else
            echo "Test run exited with code 2."
          fi
